:root{
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-Bold.ttf");
    src: url("Poppins-Bolditalic.ttf");
    src: url("Poppins-ExtraBold.ttf");
    src: url("Poppins-italic.ttf");
    src: url("Poppins-Regular.ttf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--Off-white);
    display: flex;
    justify-content: center;
    height: 100vh;
}

html{
    font-size: 15px;
}
main{
    background-color: var(--White);
    width: 250px;
    height: 330px;
    padding: 30px 20px;
    margin-top: 20%;
    border-radius: 20px 20px 40px 20px;
}

form{
    width: 100%;
    display: flex;
    padding-bottom: 40px;
}
.input-div{
    margin-right: 15px;
}
.input-div input{
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid var(--Smokey-grey);
}

.input-div label{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-weight: 800;
}

.input-div input::placeholder{
    padding-left: 10px;
    font-weight: 800;
    color: var(--Off-black);
}
.error-message{
    display: block;
    color: var(--Light-red);
}
.calculate-click{
    width: 100%;
    height: 50px;
}
hr{
    width: 100%;
}
.image{
    background-color: var(--Purple);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    margin: -25px 0 0 38%;
}
.calculate-click img{
  padding-top: 13px;
}
.calculate-click button{
    border-style: none;
    outline: none;
}

.result li{
    list-style-type: none;
}

.result li span{
    font-size: 30px;
    font-weight: 800;
    color: var(--Purple);
}
.result li{
    font-size: 30px;
    font-weight: 800;
    color: var(--Off-black);
}


/* ------------------MEDIA QUERIES------------ */

@media screen and (min-width: 700px){
    body{
        display: flex;
        align-items: center;
    }
    main{
        width: 500px;
        height: 350px;
        border-radius: 20px 20px 50px 20px;
        padding: 30px;
        margin-top: 0;
    }
    .input-div{
        margin-right: 20px;
    }
    .input-div input{
        width: 80px;
        height: 40px;
    }
    .error-message{
        color: var(--Light-red);
        display: block;
    }
    .input-div label{
        display: block;
        padding-bottom: 10px;
    }
    .image{
        float: right;
        margin-top: -25px;
    }
    .result{
        margin-top: -20px;
    }
    .result li span{
        font-size: 50px;
    }
    .result li{
        font-size: 50px;
    }
    
}

footer{
    position: fixed;
    bottom: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
